.map-container {
    width: 100%;
    max-width: 800px; /* Limite la largeur de la carte */
    margin: 0 auto; /* Centre la carte */
    
    box-sizing: border-box;
    margin-top: 45px;
}
.map-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
}